# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class
*/migrations/__pycache__/

# Ignorar configuraciones locales
*.log
*.pot
*.pyc
*.pyo

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Editor/IDE
.idea/
.vscode/

# Variables de entorno
.env
.env.local


# Archivos autogenerados
