[MASTER]
load-plugins=pylint_django
ignore=venv,migrations,models
django-settings-module = CookShare.settings

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    no-member,
    invalid-name,
    too-few-public-methods,
    missing-docstring,
    non-ascii-name,
    non-ascii-module-import

[FORMAT]
max-line-length=100

[DESIGN]
max-args=15